.header {
    padding: 35px 0;
    -webkit-box-shadow: 0px 7px 6px -5px rgba(84, 122, 152, 0.5);
    -moz-box-shadow: 0px 7px 6px -5px rgba(84, 122, 152, 0.5);
    box-shadow: 0px 7px 6px -5px rgba(84, 122, 152, 0.5);
}

.header__wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__link {
    text-decoration: none;
    color: white;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.header__title {
    margin: 0;
    margin-bottom: 20px;
    font-size: 42px;
}

.header__about {
    font-size: 18px;
}

.header__btn {
    color: white;
    background-color: rgba(84, 122, 152, 0.3);
    border: none;
    padding: 10px 18px;
    border-radius: 7px;
    font-size: 16px;
}
.header__btn:hover {
    background-color: rgba(84, 122, 152, 0.2);
    transition: background-color 0.5s linear;
}